@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.Events {
  /* display: hidden; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(19, 11, 1);
  font-family: "Montserrat", sans-serif;
  color: #ddd;
}
.sub-title {
  height: 100%;
}
.title {
  height: 20%;
  margin-top: 30px;
  font-size: 4.3rem;
}
